@import "src/styles/variable/index.scss";

svg {
  font-size: 25px;
  cursor: pointer;
  margin-right: 10px;
}

.red {
  color: $color-red;
}

.green {
  color: $color-green;
}

.spacial {
  color: $color-btn;
}
