$color-white: #ffffff;
$color-gray: #919191;
$color-black: #212321;
$color-red: #ff0000;
$color-green: #56ab2f;
$color-yellow: #ffc14c;
$color-btn: #c45648;
$color-btn_mode1: #c45648dc;
$color-btn_mode2: #ffffffc9;

$background-body-1: #f5f5f5;
$background-body-2: #ece9e6;
$background-main: #d6cfc957;
$background-white: #ffffff;
$background-body-notifi: #000000c9;
$background-loading: #ffffff6b;

$fs8: 8px;
$fs10: 10px;
$fs12: 12px;
$fs13: 13px;
$fs15: 15px;
$fs17: 17px;
$fs20: 20px;

$fw-300: normal;
$fw-500: 400;
$fw-bold: bold;
$fw-bolder: bolder;

$lgH0: 0;
$lgH10: 10px;
$lgH20: 20px;
$lgH30: 30px;

$width4: 40px;
$width5: 50px;
$width6: 60px;
$width7: 70px;
$width8: 80px;
$width10: 100px;

$height4: 40px;
$height5: 50px;
$height6: 70px;
$height7: 70px;
$height8: 80px;
$height10: 100px;
//margin
$mg5: 5px;
$mg10: 10px;
$mg20: 20px;
$mg25: 25px;
$mg40: 40px;
$mg50: 50px;
$mgx10: 0 10px;
$mgy10: 10px 0;
$mgy20: 20px 0;

//padding
$pd-5: 5px;
$pd-10: 10px;
$pd-20: 20px;
$pd-25: 25px;
$pd-40: 40px;
$pd-50: 50px;

//border-radius
$boderR5: 5px;
$boderR10: 10px;

// border
$border1: 1px solid #ebebec;
$border2: 1px solid #cdcdcd5c;
$border3: 1px solid #cdcdcdfa;
$border-err: 1px solid $color-red;
$borderTable: 1px solid #ebebec;
$box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
