@import "src/styles/variable/index.scss";

.badge {
  background-color: $background-main;
  color: $color-black;
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.frontend {
  background-color: $color-green;
  color: $color-white;
}

.backend {
  background-color: $color-red;
  color: $color-white;
}

.career {
  background-color: $color-yellow;
  color: $color-white;
}
